﻿/*PatFunc.css begans, white space bug on navigation*/
DIV.RadMenuItemJoiner {    top: 54px;}
/*save button inside the block now*/
DIV.PnlSelector:after{	clear:both;	content:"";	display:block}
/*patients precise panel top position, displayed background*/
div#ucPatFunc_DetailsPanel.DetailsPanel {top: 71px !important;}
/*PatFunc.css ends*/




/*buttons.css begans, component selection button padding missing*/
.boss-button{    padding: 0 15px;}
/*buttons.css ends*/



/*ListSelectorWidget.css begans*/
div.ListSelectorWidget div.buttons {    padding-right: 20px;}
/*list selection section input box*/
input#inp_scwListSelectorWidget_FilterSearch {	margin-bottom: 5px;}
/*component selection button right arrow*/
.rmSlide input[type=checkbox]{    margin-right:5px;}
#ucPatFunc_radmenuSnapins .rmSlide{	left: -152px !important;}
/*margin spacing in wizardbox and single patient search screen*/
#ucWizard_divWizardQuestions input[type=checkbox], #ucWizard_divWizardQuestions input[type=radio], #SinglePatientSearch input#PatSearch_rbFemale, #SinglePatientSearch input#PatSearch_rbMale, #SinglePatientSearch input#PatSearch_rbEither{    margin-right:5px;	vertical-align: middle;}
/*rsi settings*/
#RSISettingsPanel select,#RSISettingsPanel input[type=text]{    border: 1px solid rgb(169, 169, 169);}
LI.ListItem{	width: 31%;	float: left;	margin: 0 1% 2% 0;}
/*ListSelectorWidget.css ends */

/*userpreferences.css starts*/
.UserPrefsCheckBox label{	margin-top:0px;}
/*userpreferences.css ends*/




/*patients.css starts*/
/*patient.aspx top header display bug*/
#tabCentreR3 > td{ width: 3% !important; }
#tabCentreR3 > td + td{ width: 97% !important; }
#tabCentreSearch #imgGoPastList{ top:2px !important; }
#tabCentreSearch #cboPastListsPanel { float: left; }
#tabCentreSearch .tdSavedSearches { /* width: 23%; */	/* height: 26px; */	vertical-align: middle;}
#tabCentreSearch .tdRecentsearches {	/* height: 26px; */	vertical-align: bottom;}
#tabCentreSearch tr+tr > td.tdRecentsearches{	vertical-align: top;}
#tblNewRapidSearch{	margin-top:-7px;}
#tabCentreSearch .tdSavedSearches > div{    /* min-height: 40px; */    height: auto;}
/*load patient selection list popup overlay image*/
.boss-popup-modality{	background-image: none;}
/*selection box input button*/
#Lists1_rbList input{	margin: 5px 3px 5px 5px;	vertical-align: middle;}
	
/*patient.css resutls popup*/
.PatSearch, .PanelBorderStyle, .PatSearch input[type=text] {	border-color: #eeeeee;	border-width: 2px;}
/*similar names chechbox*/
input[type=checkbox]#ChkIncludeSurnameSoundex{	margin-top:4px;}
/*firefox specific style*/
	@-moz-document url-prefix() { 
		input[type=checkbox]#ChkIncludeSurnameSoundex{			margin-left:5px;		}
	}
/*buttons in search area*/
.PatSearch .btnPatSearch, .PatSearch .PatSearchOptButtons , .PatSearch .btnPatSearch {	border-width: 2px;}

#ResultsPanel_divOuter, #ResultsPanel_divOuter:hover {
    background: url('https://efstd.coremedicalsolutions.com:499/bossnet/images/QuickResults/imgDynamicFavList_up.gif') !important;
}
/*checkbox correction results review popup*/
#ResultsPanel_lstQRFavLists input#ResultsPanel_lstQRFavLists_2, #ResultsPanel_lstQRFavLists input#ResultsPanel_lstQRFavLists_1, #ResultsPanel_lstQRFavLists input#ResultsPanel_lstQRFavLists_0{	margin-right: 5px;	vertical-align:text-bottom;}
.ResultsPanel_ListItems {	margin-right: 5px;}
#MasterTable_Web20 .SelectedRow_Web20, #MasterTable_Web20 .GridRow_Web20{    cursor: pointer !important;}
#ucWizard_divButtons .WizButton{
	background: -moz-linear-gradient(center top , rgb(244, 244, 244) 0%, rgb(214, 214, 214) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #b0b2b1;
    color: #2e4147;
    text-shadow: 0 1px 0 #ffffff;
}
/*patient precise screen checkboxes too close*/
#ctl28_lstList input[type=checkbox]{	margin-right:5px;}
/*results review input text box alignment*/
.ResultsPanel_URN > div {	margin-left: 0 !important;}
.ResultsPanel_Full{	text-align: left;}
#ResultsPanel_divMiddle {	top: 35%;}

/*switch to classic top header alignment issue*/
#tblNewRapidSearch input#imgSwitchSearch{	top: 0px !important;}
/*patients precise screen QRM*/
#ctl31_divMain {	right:55% !important;}
/*weekend handover screen z-index issue */
#ucWizard_divWizardControl{	z-index:1;}
/* *{
	border-color:#eee !important;
} */
input[type=text]{	padding:2px;}


/*selection box*/
.ListsCtrlPanel, .TblMain, .CMSInputTxtSearch, .UserPrefs, #ucUserPrefs_PatSearch > div:first-child, #ucUserPrefs_SinglePatientSearch input[type=text], div.DetailsPanel, .div-main, #ResultsPanel, #PatSearch > div:first-child{	border-color: #eee !important;	border-width: 1px !important;}
#ucUserPrefs_PatSearch > div:first-child, #PatSearch > div:first-child{	border-bottom-width: 1px !important;	border-right-width: 1px !important;}
.CMSUCHeader{	padding-left:2px;}

/*ie10-*/
#ucPatFunc_radmenuFunctionsPanel .RadMenu ul.rmRootGroup li .rmSlide{	top:55px !important;}

/*ie8*/
.rmText #radmenuButtons_i1_divoverlayWorklists, .rmText #radmenuButtons_i6_divoverlayBOSSMail, #divPatSearchOverlay{
	filter: alpha(opacity=50) !important; /* IE 7 and Earlier */
    /* Next 2 lines IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) !important;
}

.rmText #radmenuButtons_i1_divoverlayWorklists, .rmText #radmenuButtons_i6_divoverlayBOSSMail{	margin-top:0 !important;}

.overlay, .overlayforSMSPref, #Lists1_divListOverlay, #divOverlay{
	filter: alpha(opacity=10); /* IE 7 and Earlier */
	opacity: .10;
	mozopacity: .10;
    /* Next 2 lines IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)" !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10) !important;
}

#Lists1_pnlGrouping{	overflow: hidden !important;}
/* #SinglePatientSearch > span +span + span + span+input +span+span+input+span+span+input+input+input+span+span + span{
	background: black;
}
#SinglePatientSearch > span +span + span + span+input +span+span+input+span+span+input+input+input+span+span {
	background: yellow;
} */
/* IE7 */
*+html INPUT[type=checkbox]#ChkIncludeSurnameSoundex{margin-top:-3px;_margin-top:-3px;}
*+html input[type=checkbox]#ChkIncludeSurnameSoundex {	margin-top: 0px;}
*+html #Lists1_tblMain > tbody > tr+tr+tr+tr>td{	*border:1px solid #000 !important;	border:1px solid #000 !important;}
*+html #SinglePatientSearch >span +span + span + span+input +span+span+input+span+span+input+input+input+span+span{	*left: 85px !important;	left: 85px !important;}
*+html #SinglePatientSearch >span +span + span + span+input +span+span+input+span+span+input+input+input+span+span + span{	*left: 140px !important;	left: 140px !important;}
*+html #PatSearch_txtDOB, *+html #lblDOB{	*left: 210px !important;	left: 210px !important;}
*+html .ResultsPanel_legends{	margin-left: -5px;	*margin-left: -5px;}


/*ie 7 and 8 radio buttons, checkboxes patient select screen*/
#PatSearch_rbMale{
	margin-left: 15px\9 !important;/*ie7, 8*/
	margin-left/*\**/: 15px\9 !important; /*ie8*/
	
}
#PatSearch_rbEither{
	margin-left: 20px\9 !important;/*7, ie8*/
	margin-left/*\**/: 20px\9 !important;/*ie8*/
	
}

#PatSearch.PatSearch input[type=text]#PatSearch_txtDOB, #PatSearch #lblDOB, input[type=checkbox]#ChkIncludeSurnameSoundex{
	margin-left: 10px\9 !important;/*7, ie8*/
	margin-left/*\**/: 10px\9 !important;/*ie8*/
}
#cboPastLists > table{
	width: 130px\9 !important;/*ie7 only browser*/
	width/*\**/: 130px\0/ !important;/*ie8 only browser*/
}
*+html #cboPastLists > table{
	width: 105px !important;
}

.panelGroupings{
	border-color:#E0E3E8;
}
/*ie specific*/
@media all and (-ms-high-contrast:none)
{
    .PatSearch > div:first-child{ border-bottom: 1px outset #eee !important; border-right: 1px outset #eee !important; } /* IE10 */
    *::-ms-backdrop, .PatSearch > div:first-child{ border-bottom: 1px outset #eee !important; border-right: 1px outset #eee !important; } /* IE11 */
	
	#cboPastLists > table{ width: 100px !important;} /* IE10 */
	*::-ms-backdrop, #cboPastLists > table{ width: 100px !important;} /* IE11 */
}
img:hover{
	border: none !important;
}

/*patients.css ends*/
/*starts, should be in genericpages*/
#RadWindowWrapper_radwndProtocol{
	height: 95% !important;
}
#RadWindowWrapper_radwndProtocol > table{
	height: 100% !important;
}
#RadWindowWrapper_radwndProtocol{
	top:20px !important;
}
/*ends, should be in genericpages*/



/*bug fixes 9 oct*/

/*patients.css starts*/
div#panelFuncs.PanelStyle {
	/* border: none !important; */
	border: 2px outset #eee !important;
}
div#panelFuncs.PanelStyle hr{
	background:#000;
	left:0px !important;
	width: 100% !important;
}
.SearchTextBox{
	border-color: #eee;
}
table#tblOldRapidSearch td{
	padding-right:8px;
}
input#rbFemale_Search {
	vertical-align: bottom;
	margin-right: 1px;
}
input#rbMale_Search {
	vertical-align: bottom;
	margin-right: 1px;
}
/*patients.css ends*/

/* SelectionList starts*/
SPAN.dynPanel{
	border: 2px outset #eee !important;
}
/* SelectionList end*/


/*login screen start*/
#radAjaxSU + div{
	width: 100% !important;
}
/*login screen ends*/