/*begin bossnetadmin*/

input.hibDefaultNormal{
	outline: none;
}
#btnClearNameFormat{
	margin-left: 0px !important;
}
table#ucInputBox_tblMsgBox tbody tr.MsgBoxTitleBar > td:first-child{
	width: 92px;
}
*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	zoom:1;
}
table#ucListViews_RadGrid1_ctl00 tr > td{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#ucListViews_RadGrid1_ctl00_Header, #ucListViews_RadGrid1_ctl00, #ucListReports_RadGrid1_ctl00_Header, #ucListReports_RadGrid1_ctl00{
	width:100%\9;
	*width:100%;
	_width:100%;
}
#divFilterBox table tbody tr:first-child > td{
	width: 142px;
}
input#txtPaperName, #txtPaperDescription{
	border: 1px solid #bababa;
}
#divNewPaperType{
	height:225px !important;
}
/*end bossnetadmin*/

/*start users.css*/
#tableBOSSUserSetup tbody >tr +tr +tr +tr +tr > td+ td > div{
	display: inline-block;
	display: inline\9;
	zoom: 1;
	float: left;
}
/*end users.css*/
/*patientsDetails.css starts*/

#divHeader.Header #divHeadDetailsUnderLay{
	background-color: #7FA2CA;
	filter: alpha(opacity=60); /* IE 7 and Earlier */
	opacity: .60;
	mozopacity: .60;
    /* Next 2 lines IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) !important;
}

/*patientsDetails.css ends*/

/*default.css starts*/

#divOptions ul li{
	margin-bottom: 5px;
}
/*default.css ends*/


/*3 november module bossnetadmin v 1.2*/
/* starts default.css*/
#divMainContent{
	overflow-x:visible;
	overflow-y: visible;
}
div#divSidebarMain {
	height: 100%;
}
#divDefaultMain {
	overflow-y: hidden;
}
/*end default.css*/

/* starts buttons.css inside iframe*/
input#btnNewMethod.btnClass, div#btnDeletePanel, input#btnDelete.btnClass, #btnSaveCheckListPanel{
	display: inline-block;
	float: left;
}
.RadUpload_Web20 ul#ruFileUploadListContainer input.ruFakeInput {
	width: 238px;
}
/* end buttons.css*/

/*start dfcommon.css inside iframes*/
#divCenterBody input[type=text], #divCenterBody select, #bossBodyLayout input, #bossBodyLayout select
{
	border: 1px solid #6788be;
}
/* div#divManualItemList1 {
	top: 33% !important;
} */
/*end dfcommon.css*/

/* start userroles.css */
.boss-lay-body.boss-lay-row{
	height: 100%;
}
/* end userroles.css */