/*begin bulkprint.css*/
*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	zoom:1;
}

/*end bulkprint.css*/

/*begin index.css or inside dmr.css(https://rawgit.com/niteshp27/cdn/master/DMR.css) at the end */
#DFPnl_Middle {
	top: 0;
}
/*end index.css*/