/*begin bulkeformprinter.css*/
*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	zoom:1;
}
/*end bulkeformprinter.css*/

/*start BulkEFormsPrinter.css*/

input#chkFormsAll {
	margin-right: 5px;
}
#divMain table td.tdLeft, #divMain table td.tdMiddle {
	vertical-align: top;
}
div#divAvailGroups, div#divPatients {
	height: 524px !important;
}
div#divLoadingAjax{
	position: fixed !important;
}
/*end BulkEFormsPrinter.css*/