/*cam.css starts*/

*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	zoom:1;
}


#ctl00_ctl00_plcMain_grdLinkedNodesPanel:before,
#ctl00_ctl00_plcMain_grdLinkedNodesPanel:after {
  display: table;
  content: " ";
}

#ctl00_ctl00_plcMain_grdLinkedNodesPanel:after {
  clear: both;
}

div#ctl00_plcMain_rptRules_ctl00_cboRuleOutcome.RadComboBox_Office2007 {
	display: inline-block !important;
}

table#ctl00_plcMain_tblAlertSettings2 tbody > tr > td +td, table#ctl00_plcMain_tblAlertSettings2 tbody > tr > td +td+td{
	vertical-align: top;
}
.RadComboBox_Office2007 td.rcbInputCell {
	height: 19px;
	line-height: 19px;
	vertical-align: top;
	background: #eaf2fb;
	padding: 0 0 0 1px;
}

table#ctl00_plcMain_grdAlertQuestions_ctl00_Header.MasterTable_Vista {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	overflow: hidden;
	empty-cells: show;
}

#ctl00_plcMain_grdAlertQuestions_GridData table tbody > tr#ctl00_plcMain_grdAlertQuestions_ctl00__0.GridRow_Vista, 
#ctl00_plcMain_grdAlertQuestions_GridData table #ctl00_plcMain_grdAlertQuestions_ctl00,
#ctl00_plcMain_grdAlertQuestions_GridData table.MasterTable_Vista{
	width: 100% !important;
	width: 100%\9;
}

#ctl00_plcMain_grdAlertQuestions_GridData table.MasterTable_Vista{
	width: 100% !important;
	width: 100%\9;
}

*+html #ctl00_ctl00_plcMain_tblDetailsPanel > div {  height: 0;}
#cboBgColourList, #cboBgColourList > table, #cboFontColourList, #cboFontColourList > table, #txtCriticalityDisplay_wrapper{
	width: 150px !important;
}

#ctl00_plcOuterControls_ucMsgBox_rptDynControls_lstInput table.rcbFocused, #ctl00_plcOuterControls_ucMsgBox_rptDynControls_lstInput table.rcbHovered, #tblMsgBoxDynControls{
	width: 300px !important;
	width: 300px\9;
}
#ctl00_plcMain_cboAlertQuestionTypes > table {
	width: 300px\9 !important;
}
*+html #ctl00_plcMain_cboAlertQuestionTypes > table {
	height: 25px;
}
.MasterTable_Vista{
	width: 100%;
}
input#ctl00_plcMain_imgAddLinkedNode {
	float: none !important;
}
div#ctl00_ctl00_plcMain_divLinkedNodeDetailsPanel{
	clear: both;
}
#ctl00_plcMain_cboRuleOutcome > table{
	width: 90px !important;
}
#ctl00_plcMain_cboReaction > table, #ctl00_plcMain_cboSeverity > table{
	width: 140px !important;
}

#ctl00_plcMain_rptRules_ctl00_cboRuleOutcome > table{
	width: 80px !important;
}
div#ctl00_ctl00_plcOuterControls_ucPatSearch_rdoPatSearchFemalePanel,  div#ctl00_ctl00_plcOuterControls_ucPatSearch_rdoPatSearchMalePanel {
	float: left;
}
#ctl00_plcOuterControls_ucPatSearch_grdPatientSearch_ctl00__0.GridRow_Office2007 td{
	display: table-cell !important;
	table-layout: fixed;
}
#ctl00_plcMain_dtAlertExpiry_wrapper > table{
	width: 200px !important;
}
#ctl00_plcMain_dtAlertExpiry_wrapper > table input#ctl00_plcMain_dtAlertExpiry_dateInput_text{
	width: 156px !important;
}

#ctl00_ctl00_plcMain_divReactionItemsPanel, #ctl00_ctl00_plcMain_divSeverityItemsPanel{
	float: left;
}
#ctl00_ctl00_plcMain_divReactionItemsPanel + div {
	float: right;
}
#ctl00_plcMain_cboExtSysForUsers > table, #ctl00_plcMain_cboNodeImportance > table{
	width: 300px !important;
}
#ctl00_plcMain_cboDefaultExpiryYears > table, #ctl00_plcMain_cboDefaultExpiryMonths > table,
#ctl00_plcMain_cboDefaultExpiryDays > table, #ctl00_plcMain_cboDefaultExpiryHours > table
{
	width: 61px !important;
}
#ctl00_plcMain_cboSubType > table{
	width: 203px !important;
}

table#ctl00_plcOuterControls_ucPatSearch_grdPatientSearch_ctl00, table#ctl00_plcOuterControls_ucPatSearch_grdPatientSearch_ctl00_Header {
	width: 100% !important;
}

/*login screen css*/
div#ucBOSSLogin_AContainer {
	margin-top: 365px;
}
/*login screen ends*/

/*cam.css ends*/

/*start alertseditor.css */

div.NodeDetails {
	height: 100% !important;
}

/*end alertseditor.css */

/*start appearanceeditor.css */
.RadUpload_Web20 input.ruFakeInput {
	width: 80%;
}
/*end appearanceeditor.css */

/*start alertsmanager.css*/
tr#ctl00_plcMain_grdAlertQuestions_ctl00__0 > td +td +td +td +td +td +td {
	padding: 2px !important;
}
tr#ctl00_plcMain_grdAlertQuestions_ctl00__0.GridRowOver_Vista > td +td +td +td +td +td +td {
	padding: 3px !important;
}

div#divLoadingAjax{
	left: 50% !important;
}
*+html div#divLoadingAjax{
	left: 0% !important;
}
div#ctl00_plcMain_grdUserAlertWorklists_GridData.GridDataDiv_Vista {
	height: 84px !important;
}
#ctl00_plcMain_grdNodeReport_GridData.GridDataDiv_Vista{
	height: 550px !important;
}
div.mainContainer{
	overflow: auto;
}
/*end alertsmanager.css*/

