/*DMRView.css starts*/
/*z-index bug of folder hover button */
div#ucDMRView_ucStructureTreeView_mnuStructures{
	z-index: 0 !important;
}

/*select data from list*/
DIV.DMRViewMaster TD.documents TR.Folders TD.FolderLeft, DIV.DMRViewMaster TD.documents TR.Folders TD.FolderRight  {
	background: #FFA500 !important;
}
#ucDMRView_tdFolderRight{
	background: #fff;
}
img:hover{
	border: none !important;
}
#ucDMRView_tdStructureTree{
	padding-top: 0px;
}
@-moz-document url-prefix() { 
  #divContent {
     padding-top: 20px !important;
  } 
  #ucDMRView_tdDocuments{
	width: 100% !important;
  }
/*   #ucDMRView_divStructureTree{
	margin-top:20px;
  } */
}

  @media screen and (-webkit-min-device-pixel-ratio:0)
{ 
    #ucDMRView_tdStructureTree{
		padding-top: 0px;
	}

}
/*DMRView.css ends*/

/*viewer.css starts*/
/*Display meta data in center*/
TABLE.metadata{
	margin:0 auto;
}

/*image flicker issue i, meta page*/
input#butShowDoc, input#butShowDoc:hover {
	background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/Page.gif) !important;
}
input#butReviewHistory, input#butReviewHistory:hover {
	background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/_ReviewHistory.gif) !important;
}
input#butReplacementHistory, input#butReplacementHistory:hover {
	background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/DocHistory.gif) !important;
}
input#butShowMetadata, input#butShowMetadata:hover {
	background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/metadata.gif) !important;
}

/*image flicker issue i, meta page*/
input#butReviewHistory, input#butReviewHistory:hover {
	background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/ReviewHistory.gif) !important;
}
input#butReplacementHistory, input#butReplacementHistory:hover {
	background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/DocHistory.gif) !important;
}
input#butShowMetadata, input#butShowMetadata:hover {
	background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/_metadata.gif) !important;
}




/*pdf view prev next buttons*/
input#butFirstPage, input#butFirstPage:hover {
	background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/FirstPage.gif) !important;
}
input#butPrevDoc, input#butPrevDoc:hover {
	background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/PrevDoc.gif) !important;
}
input#butPrevPage, input#butPrevPage:hover {
background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/PreviousPage.gif) !important;
}
input#butNextPage, input#butNextPage:hover {
	background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/NextPage.gif) !important;
}
input#butLastPage, input#butLastPage:hover {
	background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/LastPage.gif) !important;
}
input#butNextDoc, input#butNextDoc:hover {
	background-image: url(https://efstd.coremedicalsolutions.com:499/bossnetemr/images/PDF/NextDoc.gif) !important;
}

/*pdfview buttons*/
/* resize options were hidden by default*/
*+html #divPDFbuttons, #divPDFbuttons {
	display: inline-block !important;
	*display: inline !important;
    zoom: 1;
} 
#divDocButtons{
	display: block !important;
}
#panRvHeader{
	text-align: left;
}
input[type=image], input[type=image]:hover{
	border-color: transparent !important;
}
#ucDMRView_ucStructureTreeView_rtreeStructure{
	overflow-x: hidden;
}
/*viewer.css ends*/


/*documentmetadata.css starts*/
div.DocMetaData div.MetaData{
	/* height: 17px !important; */
	clear: both;
}
/*documentmetadata.css ends*/

/*additional;admintools.css starts*/
div.AdditionalAdminTools {
	margin-top: 130px !important;
}
/*additional;admintools.css ends*/











/*bug fixes 8 oct*/

/*index.css starts*/
#DFPnl_Middle {
	top: 0;
}
.toolbar{
	border: 1px solid #eee;
}
/*index.css ends*/

/*viewer.css starts*/
#ucDMRView_ucStructureTreeView_rtreeStructure{
	overflow-x: hidden;
	float: left;
}
/*viewer.css ends*/
/*DMRView.css starts*/
div#ucDMRView_dmrCover_divConfidential.confidential {
	margin: 0 auto;
}
#ucDMRView_tdStructureTree{
	padding-top: 0px;
}
#ucDMRView_tdFolderRight{
	display: block;
	margin-top:-1px;
}
/* div#ucDMRView_divDMRView.DMRViewMaster {
	overflow: auto;
} */
table#tblNavbar.NavBar {
	border: 1px solid #EEE;
}
/*DMRView.css ends*/




/*bug fixes 9 oct*/

/*index.css starts*/
.DFPnl_ButtonsSpan{
	border-color: #eee;
}
div#ucDMRView_divDMRView.DMRViewMaster{
	top:-2px !important;
}
/*index.css ends*/

/*DMRView.css starts*/
div.cover img{
	border: 1px solid buttonface !important;
}
input#txtSearch
{
	border: 1px outset #eee;
}
/*DMRView.css ends*/

/*StructureTreeView2.css starts*/
div.Flat {
	border: groove thin #EEE;
}
/*StructureTreeView2.css ends*/


/*bug fixes 14 oct*/
/* DMRUserToolbar.css starts */

div#ucDMRUserToolbar_divUserToolbar.UserToolbar {
	display: inline-block;
	height: 27px;
	margin-top: 0;
}
#btnPrintURLDoc{
	height: 24px;
}

/* DMRUserToolbar.css ends */


/* BOSSnetEMR.css starts */
img#imgAlerts {
right: 41% !important;
}
/* BOSSnetEMR.css ends */

/*viewer.css starts*/
#divMetaButtons{
	float: right;
	zoom:1;
	display: block;
	border: none;
}
/*viewer.css ends*/




/*bug fixes 22 november 14*/

/*index.css starts*/

.toolbar{
	border: 2px outset #eee;
}

#DFPnl_Middle {
	top: -2px;
}
#DFPnl_Inner{
	top:0;
}
/*index.css ends*/
/*dmrview.css starts*/
#ucDMRView_tdFolderRight, TD.FrontCover {
	/* IE 7 and Earlier */
    background-color:#000;
	FILTER: progid:DXImageTransform.Microsoft.Alpha(style=1,opacity=0, startX=30, finishX=0,startY=0,finishY=0,finishOpacity=18);
	background-image: -webkit-gradient(linear, left top, right top,color-stop(0, #C2C2C2),color-stop(0.30, #FAFaFa));
	background-image: -moz-linear-gradient(right, #FAFaFa 70%, #C2C2C2);
	opacity: 18;
	height: 99% !important;
}
/*dmrview.css ends*/