/*structureAdmin.css starts*/
#tblDetails tbody tr > td+td > table tbody tr> td+td+td+td+td {    float:right;}

input#chkResize, input#chkAddExclusionExclusion, input#chkAddExclusionInclusion {	margin-left: 4px;}
.GridRow_Web20 td, .GridAltRow_Web20 td, .GridEditRow_Web20 td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*{
	border-color: #eaeaea;
}
table#ucLists_RadGrid1_ctl00, table.MasterTable_Web20{
	width: 100%;
}
.panelGroupings input[type=radio]{
	margin-right:4px;
}
/*structureAdmin.css ends*/

/*appearanceEditor.css starts*/
select, select#ucColourEditor_lstColours {	border: 1px solid #eaeaea;}
input#chkResize {	margin-left: 4px;}
/*appearanceEditor.css ends*/

/*PagesAdmin start*/
div.PageDetails {	overflow-y: auto;}
#divGridPostProcessing {
	width: 100%;
}
legend {
	color: #00E;
}
.radioBtnListFormsReg input[type=radio]{
	margin-right: 4px;
}
/*PagesAdmin ends*/

/*editpages.css start*/
#chkDynamicURL{	margin-right: 5px;}
/*editpages.css start*/


/*adddisplayfilter starts*/
#txtGroupedOrder, #txtDisplayFilter{	border: 1px solid #eaeaea;}
*{
	border-color: #eaeaea;
}
/*adddisplayfilter ends*/

/*renderbarcode starts*/
legend {
	color: #00E;
}
/*renderbarcode ends*/

/*workstationconfiguration.css starts*/
*{
	border-color: #eaeaea;
}
.spTitleSml{
	zoom: 1;
	width: 100px;
	display: block;
}
#divSkinningScanningGroupPanel input[type=radio]
{
	margin-right:4px;
}
/*workstationconfiguration.css ends*/

/*selectcapturemethod.css starts*/
#divMainBody #divCenterBody table.tblMain tbody > tr:first-child > td>table{
	margin: 0 auto;
}

#divSection1Panel #divSection1 table td.TdBorder
{
	zoom:1;
	display:block\9;
	width:200px\9;
}
#divSection1Panel #divSection1 table input[type=radio], .PanelBorderStyle input[type=radio], #divEditEntFldsPanel #divEditEntFlds #divEditDetailsEntFld input[type=checkbox]{
	margin-right: 4px;
}
.PanelBorderStyle label{
	vertical-align:bottom;
}
/*selectcapturemethod.css starts*/

/*modifytestpage.css starts*/
#ucLists_RadGrid1_GridData table .GridAltRow_Web20 td {
	word-wrap: break-word;
}
input[type=checkbox], input[type=radio]{
	vertical-align: middle;
	margin-right: 2px;
}
*{
	border-color: #eaeaea;
}
/*modifytestpage.css ends*/

/*cleanuptools.css starts*/
input[type=checkbox]{
	vertical-align: middle;
	margin-right: 2px;
}
input#txtPopupCleanupSettingDesc, input#txtPopupDescription{
	border: 1px solid #eaeaea;
}
#divPopupSelectMethod span.FontSize {
	display: inline-block;
	zoom: 1;
	width: 155px;
}
#divgridOCRs, #divGridIsBlanks {
	clear: both;
	padding-top: 5px;
}
/*cleanuptools.css ends*/

/*dmrsystemconfig.css starts*/
input[type=button]
{
	padding: 2px;
}
#tblEMR, #rgEMRSettings{
	width: 700px !important;
}
#txtBaliwick
{
	display: block;
	margin-bottom: 5px;
	border: 1px solid #EAEAEA;
}
#txtEform{
	border: 1px solid #EAEAEA;
}
/*dmrsystemconfig.css ends*/

/*findzone.css start*/
#divPreExistingImageIDs {
	width: 254px;
}
/*findzone.css ends*/

/*dmradmin.css login screen start*/
#radAjaxManager1SU + div{
	width: 100% !important;
}

/*dmradmin.css login screen end*/

