/*begin drmsearch.css*/
*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	zoom:1;
}
.MasterTable_Web20{
	width: 100%;
}
input#rdpScanDateStart_dateInput_text, input#rdpDocDateStart_dateInput_text, input#rdpDOAStart_dateInput_text, input#rdpDODStart_dateInput_text, input#rdpDOAEnd_dateInput_text, input#rdpDODEnd_dateInput_text, input#rdpScanDateEnd_dateInput_text, input#rdpDocDateEnd_dateInput_text{
	width: 99% !important;
}
/*login css start*/
div#loginCont{
	margin-top: 350px !important;
}
/*login css end*/

/*end drmsearch.css*/

/* start portaldmr.css*/

#divSearchSection3 > table, .SearchSection > table{
	padding-left: 0 !important;
}
div.divSaveLoadButtons{
	width: 218px;
}
/* end portaldmr.css*/

/*begin listviews.css*/
.PatSearch, .PanelBorderStyle, .PatSearch input[type=text], .TblMain, .ListsCtrlPanel, input.CMSInputTxtSearch {
border-color: #eeeeee !important;
border-width: 1px;
}
/*end listviews.css*/