/*ResultsReview.css starts*/
/*results screen to do in resultsreview.css*/
#imgRelevantResult, #butSignOff {	top: 7px;}
/*text align the center content*/
#dfCenterPanel TABLE.ResultBody, #dfCenterPanel TABLE.ResultFooter{	margin:0 auto;}
/*show ref ranges checkbox input type*/
#dfCenterPanel_chkRange {	top: 1px;}
div#RadWindowWrapper_radwndResultFilters.radwindow {	background: #fff !important;}
/*results filtering select box inside iframe*/
/* .rcbSlide{
	top:164px;
} */
/*results watch list*/
#WatchListPanel{	padding:5px 0; border: 1px outset #eee !important; }
/*add to results watch list*/
#ucList_rbList_0{	margin:0px 3px 0 3px;	vertical-align: middle;}
div.radwindow{	background: transparent !important;}
.TblMain {    border-color: #EEE;}
.ListsCtrlPanel {    border-color: #eee;}
/*results watch lists - results filters button*/
#RSPanel input, .RFPanel_ButtonsSpan, #divRecords, #divRecords .navigator, #divSignoffHistory, #ajaxModes input {border: 1px outset #eee  !important;}
/*borders for flowsheet element in top bar and the list parent div*/
#HeaderPanel, #ucLogo_imgLogo, #DataPanel{	border: 2px outset #eee  !important; border/*\**/: 2px outset #eee\9  !important;}
/*filter pop up buttons IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   #RadAjaxPanel1 a.radfdSkinnedFormButton{	 margin-left: 15px !important; }
}
/*ie7, 8 center align*/
a#SkinnedbutApply{	 margin-left: 10px\9 !important; margin-left/*\**/: 10px\9 !important; }
a#SkinnedbutRemove{	 margin-right: 15px\9 !important; margin-right/*\**/: 15px\9 !important; }
*+html #imgRelevantResult, #imgRelevantResult{
	margin-left: 2px\9 !important; 
	margin-left/*\**/: 2px\9 !important;
}
*+html #imgRelevantResult, #imgRelevantResult{ *top: 5px; top: 5px\9;}
img:hover{
	border: none !important;
}



/*watchlist add button pop up input text box*/
#ucList_txtSearchPanel .CMSInputTxtSearch { border: 1px inset #eee; }
/*trendlist select boxes*/
#ddlDuration, SELECT#cboFlowsheets { border: 1px solid #999; }
/*ResultsReview.css ends*/


/*popup.css starts*/
/*overlay image in popup.css*/
.boss-popup-modality{	background-image: none !important;}
/*popup.css ends*/

/*selectionlist.css starts*/
/*O,E,P pop up screens*/
div.SelectionCtrlPnl, #PictorialMenu_SelectionCtrlPnl{	top: 5% !important;}

/*E popup*/
DIV.EMRDocTypeSelector {left: -153px !important;}

DIV.ContainerdynPanel {    overflow: visible;}
.ContainerdynPanel .dynPanel { border: 1px outset #eee !important; }

.panelGroupings{
	border-color:#E0E3E8;
}
/*selectionlist.css ends



/*changes 30 october */
/*start resultsReview.css*/
#ajaxModes input.ViewTypeSel {
	border: 2px inset #eee !important;
}
/*end resultsReview.css*/