/*begin frat.css*/
*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	zoom:1;
}
.rcbSlide .RadComboBoxDropDown_WebBlue .rcbScroll.rcbWidth {
	overflow: visible;
}

/*end frat.css*/

/*start riskassesment.css*/
body{
	overflow: hidden;
}
div.rcbSlide div.RadComboBoxDropDown_WebBlue{
	height: 300px;
}
.Content input[type=checkbox] {
	margin-right: 5px;
}
a.radfd_Inox{
    width: 20px !important;
}
.Header .AS {
	width: 200px;
}
input#ctl00_Content_ucPopupCheckBoxList_txtOther, input#ctl00_Content_ucPopupCheckBoxList_txtOther{
	border: 1px solid #BABABA;
}

/*end riskassesment.css*/