/*begin bulkprint.css*/
*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	zoom:1;
}

/*end bulkprint.css*/

/*begin. Put below css in patient.css or inside bossnet.css(https://rawgit.com/niteshp27/cdn/master/bossnet.css) at the end */
#RadWindowWrapper_radwndProtocol{
	height: 95% !important;
}
#RadWindowWrapper_radwndProtocol > table{
	height: 100% !important;
}
#RadWindowWrapper_radwndProtocol{
	top:20px !important;
}
/*end patient.css*/