/*begin mmuploader.css*/
*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	zoom:1;
}
#ucPatientSearch_Lists1_RadGrid1_GridData table.MasterTable_Web20 tr.GridRow_Web20 td{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}
/*end mmuploader.css*/

/*begin Uploader.css*/
#div1{
	margin: 0 auto;
}
#UpdatePanel1 div:nth-child(3){
	float:right;
}
/*end Uploader.css*/