/*begin orderentry.css*/
*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	_border-color: #eaeaea;
	zoom:1;
}
table#MsgBox1_tblMsgBox .MsgBoxTitleBar > td:first-child {
	width: 75px;
	/* display:block; */
}

#MsgBox1_tdContent table#tblMsgBoxDynControls{
	margin-left: 75px;
}
#divSaveCancel{
	top:14px !important;
}
table#RadEditor1Wrapper {
	height: 218px !important;
}
#btnUserPrefs{
	background: #EEE;
	padding: 2px 5px !important;
}
#txtContactNum, input#txtDiagnosis{
	border: 1px solid #BABABA;
}
div#RadEditor1.radeditor.WebBlue.rade_wrapper {
	height: auto !important;
}
div#radcboFilter {
	display: inline-block;
}
input#rbPublic,  input#rbPrivate {
	vertical-align: middle;
	margin-right: 5px;
}
/*select table width 100%*/
#ucLists_RadGrid1_GridHeader table#ucLists_RadGrid1_ctl00_Header {
width: 100%;
}
/*end orderentry.css*/
/* start pathology.css*/
#pnlFamily1, #pnlFamily2, #pnlFamily3, #pnlFamily4, #pnlOtherTests, #pnlClinicalDetails, table.family input.button, table.family input.buttonsel, #pnlCenter2, table.family td.sel,
#pnlCenter1{
	border:1px solid #eaeaea !important
}
/* end pathology.css*/

/* start summary.css*/
#ContainerSummary{
	border:1px solid #eaeaea !important
}
/* end summary.css*/