/*begin referralWorklists.css*/
*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	zoom:1;
}
div#ctl14_divMain {
	width: 650px;
	left: 10px !important;
}
div#ctl14_divMain > div{
	border: 1px solid #000;
}
table#ctl00_ucMsgBox_tblMsgBox .MsgBoxTitleBar > td:first-child {
	width: 142px;
}

#ctl00_ucMsgBox_tdContent table#tblMsgBoxDynControls{
	margin-left: 142px;
}

/*end referralWorklists.css*/

/* begin ISQList */
div.isq-list span.k-combobox {
	width: 100% !important;
}
/*end ISQList.css */


/*css added on 30th september*/
/*begin referralWorklists.css*/
#wlMyWorkList_divMainBody div#wlMyWorkList_divTitleBar {
	top: 16px;
}

#wlMyWorkList_divMainBody .MenuBar {
	top: 56px !important;
}

#wlMyWorkList_divMainBody div#wlMyWorkList_divWorkArea {
	top: 87px;
}

/*end referralWorklists.css*/