/*begin scanning.css*/
	*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	zoom:1;
}
div#ucBOSSLogin_AContainerPanel {
	margin-top: 120px;
}
/*end scanning.css*/

/*begin monitor.css*/
#pnlMonitor .Outer .Head {
	height: 41px;
}
#pnlMonitor .Outer .Body {
	top: 41px;
}
input.Release, input.Approve,input.Remove{
	padding: 1px 6px;
}
/*end monitor.css*/

/*start DMRRelease.css*/
div#divACTerm.AutoComplete{
	/* left: 1460px; */
	right: 63px;
	top: 148px;
}
select.AutoComplete{
	top: 0;
	right: 0;
}
div.ACBackShadow {
	top: 150px;
	left: 1465px;
}
/*end DMRRelease.css*/

/*starts FindZone.css*/
span.spanWidth{
	float: none;
}
#txtBarcodeTypePanel, #txtCleanUpSettingPanel, #txtVerifyTextPanel, span.spanWidth
{
display: inline-block !important;
*display: inline !important;
zoom: 1;
}
/*end FindZone.css*/