/*begin tweaks.css*/
*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	zoom:1;
}
/*end tweaks.css*/

/*begin referralWorklists.css*/
#wlMyWorkList_divMainBody div#wlMyWorkList_divTitleBar {
	top: 16px;
}

#wlMyWorkList_divMainBody .MenuBar {
	top: 56px !important;
}

#wlMyWorkList_divMainBody div#wlMyWorkList_divWorkArea {
	top: 87px;
}

/*end referralWorklists.css*/