/*begin*/
*{
	border-color: #eaeaea\9;
	*border-color: #eaeaea;
	zoom:1;
}
#divVerCenter{
    left:20%;
}

#ctl00_Navigator1_panelNavigation{
    width:1006px;
}
#ctl00_Wizard_divWizardQuestions tbody >tr>td input[type=checkbox], #ctl00_Wizard_divWizardQuestions tbody >tr>td label{
    vertical-align:middle;
    margin-right: 2px;
}
/*discharge.css starts*/

.Header {
    overflow: visible;
    width: 100%;
}

#divStatusBar.toolbar{
    width: 1002px;
}

.RadSpell_Vista_Ext{
    height:12px;
}
table#tableCheckListCoding.Text1 tbody >tr>td input[type=checkbox], table#tableCheckListCoding.Text1 tbody >tr>td label{
    vertical-align:middle;
    margin-right: 2px;
}
.NoteHistory DIV.clipandscroll{
	margin-top:3px;
}
.noteitem INPUT.smallbutton, #ctl00_ucImporter_bI, #ctl00_ContentPlaceHolder1_dlRelevantResults input[type=submit], #ctl00_ContentPlaceHolder1_ucAppointments_gridData_gridData input[type=submit]{
	border-width: 2px;
	padding: 0px 2px;
}
table#ctl00_ucNH_dlNoteHistory  tr > td.noteitem > div{
	float: none !important;
}
#ctl00_ContentPlaceHolder1_gridMedicationChanges_ctl02_txtChangeReason, #ctl00_ContentPlaceHolder1_dlRelevantResults textarea, #ctl00_ContentPlaceHolder1_ucAppointments_gridData_gridData input[type=text]{
	border: 1px solid #BABABA;
}
.Result > span:first-child > table > tbody > tr +tr>td > table {
	margin: 0 auto;
}
/*discharge.css ends*/

/*data entry.css starts*/
#ctl00_ucDataEntry_butSave2{
	border-style: solid;
	padding: 1px 2px;
}
/*data entry.css ends*/


/*24 nov 14*/
/*start discharge.css*/
.contentlink, .contentlink_i, .contentlinkcurrent, .contentlinkdisabled, .contentlinkcurrent_i
{
	border-color: #ccc;
}
/*end discharge.css*/

/*start master.css*/

#divVerCenter {
	left: 25%;
}
*+html #divVerCenter {
	left: 2% !important;
}
/* end master.css*/
